@import"./variables.css";
@import"./reset.css";
@import "./components/accessibility.css";
@import "./components/photographer.css";
@import "./components/tag.css";
@import "./components/btn-cta.css";
@import"./components/photographerdescriptioncard.css";
@import"./components/mediacard.css";

/*header*/
header {
    position: absolute;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    column-gap: 80px;
    padding: 42px 100px;
    width: calc(100% - 300px);
}

.logo {
    width: 200px;
    height: 50px;
}

.header--photographer-page {
    position: static;
    padding: 43px 100px;

}

.nav__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
}

/* main*/
.main__photographer-page {
    padding: 0px 100px;
}

main h1 {
    position: absolute;
    right: 0;
    padding: 42px 100px;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 400;
    color: #901C1C;
}

/*section photographer*/


.photographers-wrapper {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    padding: 202px 72px 60px;
    row-gap: 50px;
}

.media-card-wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    padding: 70px 0px;
}


/*style for photographe page */
/* main*/
.main__photographer-page {
    padding: 0px 100px;
}


@media screen and (max-width:767px) {

    header {
        flex-direction: column;
        column-gap: 0;
        padding: 40px 20px;
        width: auto;
    }

    .logo {
        width: 150px;
        height: 38px;
    }

    a:has(.logo) {
        align-self: self-start;
    }

    .nav__links {
        padding: 39px;
        row-gap: 5px;
        justify-content: center;
        align-items: center;

    }

    main h1 {

        font-size: 14px;
        font-weight: 400;
        line-height: 18.23px;
        padding: 52px 0px;
        right: 20px;
    }

    /*section photograher*/
    .header--photographer-page {
        position: static;
        padding: 40px 20px;
    
    }
    .photographers-wrapper {
        grid-template-columns: repeat(1, auto);
        row-gap: 5px;
        justify-content: center;
    }

    /* page photographer */
    .main__photographer-page {
        padding: 0px 20px;
    }

    .media-card-wrapper {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
}