:root {
    --primary-color: #901C1C;
    --primary-text-color: #D3573C;
    --secondary-color-1: #D3573C;
    --secondary-color-2: #FAFAFA;
    --secondary-text-color-1: #525252;
    --secondary-text-color-2: #901C1C;

}