.counter-like {
    position: fixed;
    bottom: 0px;
    right: 42px;
    width: 325px;
    height: 44px;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color-1);
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.counter-like .number-like {
    margin-right: 5px;
}

.counter-like .number-like__icone {
    font-size: 20px;

}

@media screen and (max-width:768px) {
    .counter-like {
        display: none;
    }
}