.media-card {
    width: 350px;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--secondary-text-color-2);
}

.media-card__image,
.media-card__video {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.media-card__video {
    border: none;
}

.media-card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 100px);
}


.media-card .unliked {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px var(--secondary-text-color-2);
}

@media screen and (max-width:768px) {
    .media-card {
        width: 100%;
    }
}